@import "../abstracts/variables";

.form__input {
  color: $color-white;
  height: 4.2rem;
  padding-left: 10px;
  background-color: $color-grey-dark-2;
  border-radius: 3px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  width: 22vw;
}
