<div class="user">
  <div class="flex">
    <img [src]="image" />
    <p class="para-sm">Active Now</p>
    <div class="buttons">
      <button class="btn btn--grey">Message</button>
      <button class="btn btn--bluish">Add Friend</button>
    </div>
  </div>
</div>

<div class="card">
  <p class="heading-primary">გუნდი</p>
  <div class="team">
    <img src="../../assets/home/team.png" />
    <div class="heading-primary heading-primary--main">ELG TEAM</div>
    <p class="para-sm">5 members</p>
  </div>
</div>
