@import "../../../styles/abstracts/variables";
@import "../../../styles/components/button";

.color-main {
  color: $color-primary;
}
.para-sm {
  color: $color-white;
  font-size: 1rem;
}

.text {
  width: 20rem;
}

.img {
  width: 15rem;
  height: 15rem;
}

.card {
  width: 40rem;
  height: 20rem;
  display: flex;
  gap: 3rem;
  position: relative;
}

.grid {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.btn {
  height: 5rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -1rem;
  right: -5rem;
}
