<div class="news">
  <p class="paragraph--underline">ახალი ამბები</p>
  <div class="grid">
    <div class="card">
      <img class="img" src="../../../assets/tournaments/image-2.png" />
      <div class="text">
        <p class="heading-tertiary">
          CS:GO <span class="color-main">ELG</span> Community Cup #1
        </p>
        <p class="paragraph"><span class="color-main">ELG</span> CS:GO</p>
      </div>
      <div class="flex--col">
        <p class="paragraph">საპრიზო თანხა</p>
        <div class="flex">
          <img src="../../../assets/home/trophy-solid.png" />
          <p class="paragraph">150₾</p>
        </div>
      </div>
      <button class="btn btn--transparent">მეტის ნახვა</button>
    </div>

    <div class="card">
      <img class="img" src="../../../assets/tournaments/image-2.png" />
      <div class="text">
        <p class="heading-tertiary">
          CS:GO <span class="color-main">ELG</span> Community Cup #1
        </p>
        <p class="paragraph">class="color-main">5 აგვისტო | 21:00 +5</p>
      </div>
      <div class="flex--col">
        <p class="paragraph">საპრიზო თანხა</p>
        <div class="flex">
          <img src="../../../assets/home/trophy-solid.png" />
          <p class="paragraph">150₾</p>
        </div>
      </div>
      <button class="btn btn--transparent">მეტის ნახვა</button>
    </div>

    <div class="card">
      <img class="img" src="../../../assets/tournaments/image-3.png" />
      <div class="text">
        <p class="heading-tertiary">
          CS:GO <span class="color-main">ELG</span> APEX LEGENDS ELG Community
          Cup #1
        </p>
        <p class="paragraph">class="color-main">5 აგვისტო | 21:00 +5</p>
      </div>
      <div class="flex--col">
        <p class="paragraph">საპრიზო თანხა</p>
        <div class="flex">
          <img src="../../../assets/home/trophy-solid.png" />
          <p class="paragraph">150₾</p>
        </div>
      </div>
      <button class="btn btn--transparent">მეტის ნახვა</button>
    </div>

    <div class="card">
      <img class="img" src="../../../assets/tournaments/image-3.png" />
      <div class="text">
        <p class="heading-tertiary">
          CS:GO <span class="color-main">ELG</span> APEX LEGENDS ELG Community
          Cup #1
        </p>
        <p class="paragraph">class="color-main">5 აგვისტო | 21:00 +5</p>
      </div>
      <div class="flex--col">
        <p class="paragraph">საპრიზო თანხა</p>
        <div class="flex">
          <img src="../../../assets/home/trophy-solid.png" />
          <p class="paragraph">150₾</p>
        </div>
      </div>
      <button class="btn btn--transparent">მეტის ნახვა</button>
    </div>

    <div class="card">
      <img class="img" src="../../../assets/tournaments/image-4.png" />
      <div class="text">
        <p class="heading-tertiary">
          CS:GO <span class="color-main">ELG</span> APEX LEGENDS ELG Community
          Cup #1
        </p>
        <p class="paragraph">class="color-main">5 აგვისტო | 21:00 +5</p>
      </div>
      <div class="flex--col">
        <p class="paragraph">საპრიზო თანხა</p>
        <div class="flex">
          <img src="../../../assets/home/trophy-solid.png" />
          <p class="paragraph">150₾</p>
        </div>
      </div>
      <button class="btn btn--transparent">მეტის ნახვა</button>
    </div>

    <div class="card">
      <img class="img" src="../../../assets/tournaments/image-5.png" />
      <div class="text">
        <p class="heading-tertiary">
          CS:GO <span class="color-main">ELG</span> Community Cup #1 - Georgia
        </p>
        <p class="paragraph">class="color-main">5 აგვისტო | 21:00 +5</p>
      </div>
      <div class="flex--col">
        <p class="paragraph">საპრიზო თანხა</p>
        <div class="flex">
          <img src="../../../assets/home/trophy-solid.png" />
          <p class="paragraph">150₾</p>
        </div>
      </div>
      <button class="btn btn--transparent">მეტის ნახვა</button>
    </div>
  </div>
</div>
