<div class="form__container">
  <div class="form__container--1">
    <form class="form">
      <input class="form__input" placeholder="ძველი პაროლი" />
      <input class="form__input" placeholder="ახალი პაროლი" />
      <input class="form__input" placeholder="ახალი პაროლი" />
    </form>
  </div>
  <div class="form__container--2">
    <form class="form">
      <input class="form__input" placeholder="ძველი პაროლი" />
      <input class="form__input" placeholder="ახალი პაროლი" />
      <input class="form__input" placeholder="ახალი პაროლი" />
    </form>
  </div>
  <div class="form__container--3">
    <form class="form">
      <input class="form__input" placeholder="სახელი საიტზე" />
      <input class="form__input" placeholder="ელ-ფოსტა" />
      <input class="form__input" placeholder="დაბადების თარიღი" />
      <input class="form__input" placeholder="სქესი" />
      <input class="form__input" placeholder="STEAM ლინკი" />
      <input class="form__input" placeholder="Origin ლინკი" />
      <input class="form__input" placeholder="TWITCH ლინკი" />
      <input class="form__input" placeholder="Youtube ლინკი" />
      <input class="form__input" placeholder="Facebook ლინკი" />
    </form>
  </div>
</div>
