<div class="slider">
  <div
    class="slide"
    [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
  ></div>
  <div class="dotsContainer">
    <div
      *ngFor="let slide of slides; let slideIndex = index"
      class="dot"
      (click)="goToSlide(slideIndex)"
      [class.active]="slideIndex === currentIndex"
    >
      ●
    </div>
  </div>
</div>
<section class="landing">
  <div class="landing__content">
    <div class="landing__content--auth">
      <h1 class="heading-primary heading-primary--main">
        ყოველკვირეული ონლაინ ტურნირები
      </h1>
      <p class="heading-tertiary">
        დაარეგისტრირე საკუთარი გუნდი საიტზე, დააყენე სასურველი ლოგო და შეუერთდი
        ტურნირებს.
      </p>
      <ng-container *ngIf="!loggedIn">
        <div class="landing__content--buttons">
          <button
            class="btn btn--transparent"
            (click)="toLogin()"
            routerLinkActive="router-link-active"
          >
            ავტორიზაცია
          </button>
          <button class="btn btn--lime" (click)="toRegister()">
            რეგისტრაცია
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="loggedIn">
        <button class="btn btn--lime">გუნდის შექმნა</button>
      </ng-container>
    </div>
    <div class="landing__content--tournaments">
      <img
        class="tournament-banner"
        src="../../assets/logos/tournamentbanner 1.png"
      />
    </div>
  </div>
</section>
