@import "../../../styles/abstracts/variables";
@import "../../../styles/components/button";
@import "../../../styles/base/typography";

.slide {
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.slider {
  position: relative;
  height: 100%;
}

.dotsContainer {
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(200, 205, 200);
}

.dot.active {
  color: #16b12b;
}

.landing {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.landing__content {
  display: flex;
  gap: 20rem;
  align-items: center;
}

.landing__content--auth {
  max-width: 25vw;
}

.landing__content--buttons {
  display: flex;
  gap: 3rem;
}

.heading-tertiary {
  margin-bottom: 5rem;
}

.tournament-banner {
  width: 120%;
  margin-top: 5rem;
}
