@import "../../../styles/abstracts/variables";
@import "../../../styles/components/button";
@import "../../../styles/components/form-input";

.label {
  color: $color-grey-light-1;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  margin-top: 10rem;

  justify-content: center;
  align-items: center;
}

.logo {
  width: 10rem;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-image {
  width: 10rem;
  border-radius: 50%;
}

.image--input {
  margin-bottom: 8%;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  color: #fff;
  background-color: transparent;
  border: 1px solid $color-grey-dark-3;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.btn {
  width: 34rem;
}

.form {
  display: flex;
  flex-direction: column;
}
