<p class="paragraph--underline">გუნდის პერსონალური გვერდი</p>

<div class="container">
  <div class="card">
    <div class="team">
      <img class="img" src="../../../assets/home/team.png" alt="" />
      <div class="team--info">
        <p class="heading-primary">ELG TEAM</p>
        <p class="para-sm">10 members</p>
        <button class="btn btn--lime">მოიწვიე მოთამაშე</button>
      </div>
    </div>
    <div class="card--edit">
      <div class="flex">
        <p class="para-sm">რედაქტირება</p>
        <img src="../../../assets/icons/pen-square-solid 1.png" />
      </div>
    </div>
  </div>

  <p class="paragraph">მოგებული ტურნირები</p>

  <p class="paragraph">CS:GO ELG Community Cup #1 - Georgia</p>

  <div class="flex--col">
    <p class="paragraph">საპრიზო თანხა</p>
    <div class="flex">
      <img src="../../../assets/home/trophy-solid.png" />
      <p class="paragraph">150₾</p>
    </div>
    <p class="paragraph">საპრიზო თანხა</p>
    <div class="flex">
      <img src="../../../assets/home/Vector.png" />
      <p class="paragraph">150₾</p>
    </div>
    <p class="paragraph">საპრიზო თანხა</p>
    <div class="flex">
      <img src="../../../assets/home/users-solid.png" />
      <p class="paragraph">150₾</p>
    </div>
  </div>
</div>

<div class="mmebers">
  <p class="paragraph">გუნდის წევრები</p>
  <div class="grid">
    <div>
      <img class="member" src="../../../assets/home/team.png" />
      <p class="para-sm">member</p>
    </div>

    <div>
      <img class="member" src="../../../assets/home/team.png" />
      <p class="para-sm">member</p>
    </div>

    <div>
      <img class="member" src="../../../assets/home/team.png" />
      <p class="para-sm">member</p>
    </div>

    <div>
      <img class="member" src="../../../assets/home/team.png" />
      <p class="para-sm">member</p>
    </div>

    <div>
      <img class="member" src="../../../assets/home/team.png" />
      <p class="para-sm">member</p>
    </div>

    <div>
      <img class="member" src="../../../assets/home/team.png" />
      <p class="para-sm">member</p>
    </div>

    <div>
      <img class="member" src="../../../assets/home/team.png" />
      <p class="para-sm">member</p>
    </div>
  </div>
</div>
