// Colors
// COLORS
$color-primary: #94d82d;

$color-primary-dark: #82c91e;
$color-red: #c92a2a;

$color-blue: #3e52a3;
$color-bluish: #22b8d6;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #2f2e2e;

$color-white: #fff;
$color-black-light: #1b1a1a;
$color-black: #000;

// FONT
$default-font-size: 1.5rem;
