@import "../../../styles/abstracts/variables";

.header {
  width: 90vw;
  margin: 1.5% 3% 0% 7%;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex--col {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__link {
  font-size: 1.5rem;
  color: $color-white;
  text-decoration: none;
}

.flex {
  display: flex;
  gap: 1rem;
}

.header__logo {
  width: 7rem;
}

.active {
  color: $color-black;
  background-color: $color-primary;
  transform: skewX(-15deg);
  padding: 1rem 2rem 1rem 2rem;
}

.user--image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.select {
  width: 3rem;
  height: 3rem;
  outline: none;
  border: none;
  background-color: $color-grey-dark-2;
  border-radius: 50%;
}
