<div class="check-in">
  <div class="card card--1">
    <p class="paragraph">CHECK-IN</p>
    <p class="para-sm">
      მოკლე ინფორმაცია: Check-in ტურნირის დაწყებამდე 1 საათით ადრე გამოჩნდება
      ყველა გუნდთან რომელიც დარეგისტრირდა კონკრეტულ ტურნირზე ხოლო ის გუნდი
      რომელიც Check-in გამოჩენიდან 1 საათის მანძილზე არ დაჩექინდება ავტომატურად
      ამოიშლება ამოიშლება ტურნირის სიიდან.
    </p>
    <div class="flex">
      <p class="para-xs">
        ტურნირის დაწყებამდე დარცენილია:
        <span class="color-main">0სთ, 30წთ.</span>
      </p>
      <button class="btn btn--blue">Check In</button>
    </div>
  </div>

  <div class="card card--2">
    <p class="paragraph">ტურნირის პარამეტრები</p>
    <p class="para-sm">საპრიზო ფონდი</p>
    <p class="para-sm">150₾</p>
  </div>

  <div class="card card--3">
    <p class="paragraph">თარიღი და დრო</p>
    <div class="grid">
      <p class="para-sm">ტურნირის დაწყება 5 აგვისტო, 21:00 +5</p>
      <p class="para-sm">ტურნირის დასრულება 6 აგვისტო, 21:00 +5</p>
      <p class="para-sm">რეგისტრაცია დაიწყო 5 აგვისტო, 13:00</p>
      <p class="para-sm">რეგისტრაცია დასრულდება 5 აგვისტო, 20:00</p>
    </div>
    <div class="flex">
      <p class="para-xs">
        ტურნირის დაწყებამდე დარჩენილია:
        <span class="color-main">0სთ, 30წთ.</span>
      </p>
      <button class="btn btn--lime">რეგისტრაცია</button>
    </div>
  </div>
</div>
<div class="table">
  <table mat-table [dataSource]="dataSource" class="table">
    <!-- Position Column -->
    <ng-container matColumnDef="round">
      <th mat-header-cell *matHeaderCellDef class="paragraph">რაუნდი</th>
      <td mat-cell *matCellDef="let element" class="paragraph bg">
        {{ element.round }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef class="paragraph">Name</th>
      <td mat-cell *matCellDef="let element" class="paragraph bg">
        {{ element.day }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef class="paragraph">Weight</th>
      <td mat-cell *matCellDef="let element" class="paragraph bg">
        {{ element.time }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="best">
      <th mat-header-cell *matHeaderCellDef class="paragraph">Symbol</th>
      <td mat-cell *matCellDef="let element" class="paragraph bg">
        {{ element.best }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pass">
      <th mat-header-cell *matHeaderCellDef class="paragraph">Symbol</th>
      <td mat-cell *matCellDef="let element" class="paragraph bg">
        {{ element.pass }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="table">
  <table mat-table [dataSource]="dataSource1" class="table">
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef class="paragraph">No.</th>
      <td mat-cell *matCellDef="let element" class="paragraph bg">
        <img [src]="element.url" />
      </td>
    </ng-container>

    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef class="paragraph">Name</th>
      <td mat-cell *matCellDef="let element" class="paragraph bg">
        {{ element.place }}
      </td>
    </ng-container>

    <ng-container matColumnDef="prize">
      <th mat-header-cell *matHeaderCellDef class="paragraph">Weight</th>
      <td mat-cell *matCellDef="let element" class="paragraph bg">
        {{ element.prize }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
  </table>
</div>
