<div class="check-in">
  <div class="card card--1">
    <p class="paragraph">CHECK-IN</p>
    <p class="para-sm">
      მოკლე ინფორმაცია: Check-in ტურნირის დაწყებამდე 1 საათით ადრე გამოჩნდება
      ყველა გუნდთან რომელიც დარეგისტრირდა კონკრეტულ ტურნირზე ხოლო ის გუნდი
      რომელიც Check-in გამოჩენიდან 1 საათის მანძილზე არ დაჩექინდება ავტომატურად
      ამოიშლება ამოიშლება ტურნირის სიიდან.
    </p>
    <div class="flex">
      <p class="para-xs">
        ტურნირის დაწყებამდე დარცენილია:
        <span class="color-main">0სთ, 30წთ.</span>
      </p>
      <button class="btn btn--blue">Check In</button>
    </div>
  </div>

  <div class="card card--2">
    <p class="paragraph">ტურნირის პარამეტრები</p>
    <p class="para-sm">საპრიზო ფონდი</p>
    <p class="para-sm">150₾</p>
  </div>

  <div class="card card--3">
    <p class="paragraph">თარიღი და დრო</p>
    <div class="grid">
      <p class="para-sm">ტურნირის დაწყება 5 აგვისტო, 21:00 +5</p>
      <p class="para-sm">ტურნირის დასრულება 6 აგვისტო, 21:00 +5</p>
      <p class="para-sm">რეგისტრაცია დაიწყო 5 აგვისტო, 13:00</p>
      <p class="para-sm">რეგისტრაცია დასრულდება 5 აგვისტო, 20:00</p>
    </div>
    <div class="flex">
      <p class="para-xs">
        ტურნირის დაწყებამდე დარცენილია:
        <span class="color-main">0სთ, 30წთ.</span>
      </p>
      <button class="btn btn--lime">რეგისტრაცია</button>
    </div>
  </div>
</div>
