<p class="paragraph--underline">პოპულარული</p>
<div class="item">
  <div class="container">
    <div class="title">
      <div class="flex">
        <img src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>

    <div class="title">
      <div class="flex">
        <img src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>

    <div class="title">
      <div class="flex">
        <img src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>
  </div>
</div>

<p class="paragraph--underline">ყველაზე გაყიდვადი</p>
<div class="item">
  <div class="container">
    <div class="title">
      <div class="flex">
        <img class="items" src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>

    <div class="title">
      <div class="flex">
        <img class="items" src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>

    <div class="title">
      <div class="flex">
        <img class="items" src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>

    <div class="title">
      <div class="flex">
        <img class="items" src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>
  </div>
</div>

<p class="paragraph--underline">ახალი დამატებული</p>
<div class="item">
  <div class="container">
    <div class="title">
      <div class="flex">
        <img class="items" src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>

    <div class="title">
      <div class="flex">
        <img class="items" src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>

    <div class="title">
      <div class="flex">
        <img class="items" src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>

    <div class="title">
      <div class="flex">
        <img class="items" src="../../../assets/home/team.png" />
        <p class="para-mini">Tags</p>
        <p class="heading-primary heading-primary--main">title</p>
        <p class="para-sm">ავტორი: ELG Esports | თარიღი: 5 აგვისტო, 2021</p>
      </div>
    </div>
    <div class="price">ფასი: 200 ფოინთი</div>
  </div>
</div>

<app-footer></app-footer>
