<div class="header">
  <app-header></app-header>
</div>
<div class="container">
  <img
    class="header__sub--img"
    src="../../../../assets/tournaments/rules.png"
  />
  <div class="sub__header">
    <a
      class="sub__header--link"
      routerLink="/profile/settings"
      routerLinkActive="active"
      >პარამეტრები</a
    >
    <a
      class="sub__header--link"
      routerLink="/profile/create-team"
      routerLinkActive="active"
      >გუნდის შექმნა</a
    >
  </div>
</div>
<router-outlet></router-outlet>
