@import "../../styles/abstracts/variables";
@import "../../styles/components/button";
@import "../../styles/base/typography";

.landing__logo {
  width: 25rem;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.suggested {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.suggested__paragraph {
  display: flex;
  justify-content: flex-start;
}

.paragraph--underline {
  font-size: 2rem;
  color: $color-white;
  margin-top: 10rem;
  margin: 8rem;
}

.paragraph--underline::after {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  background-color: $color-primary;
  border-radius: 5px;
  margin-top: 5px;
}

.suggested__games {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 7rem;
}

.games {
  outline: 1px solid $color-grey-dark;
  outline-offset: 15px;
  border-radius: 3px;
}

.grid {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 7rem;
}

.step {
  text-align: center;
  width: 30rem;
  outline: 1px solid $color-grey-dark;
  outline-offset: 5px;
  border-radius: 3px;
}
