<div style="width: vw; height: 75vh">
  <app-image-slider></app-image-slider>
</div>
<section class="landing">
  <img class="landing__logo" src="../../assets/logos/navbar.png" />

  <div class="landing__content">
    <div class="landing__content--auth">
      <h1 class="heading-primary heading-primary--main">
        ყოველკვირეული ონლაინ ტურნირები
      </h1>
      <p class="heading-tertiary">
        დაარეგისტრირე საკუთარი გუნდი საიტზე, დააყენე სასურველი ლოგო და შეუერთდი
        ტურნირებს.
      </p>
      <div class="landing__content--buttons">
        <button class="btn btn--transparent">ავტორიზაცია</button>
        <button class="btn btn--lime">რეგისტრაცია</button>
      </div>
    </div>
    <div class="landing__content--tournaments">
      <img
        class="tournament-banner"
        src="../../assets/logos/tournamentbanner 1.png"
      />
    </div>
  </div>
</section>
<section class="suggested">
  <div class="suggested__paragraph">
    <p class="paragraph">თამაშები, რომლებსაც ჩვენ ვუჭერთ მხარს</p>
    <div class="dash">-</div>
  </div>

  <div class="suggested__games">
    <div class="games" *ngFor="let game of games; let i = index">
      <img [src]="game.url" />
    </div>
  </div>
</section>
