<div style="width: vw; height: 75vh">
  <app-image-slider></app-image-slider>
  <img class="landing__logo" src="../../assets/logos/navbar.png" />
</div>

<section class="suggested">
  <div class="suggested__paragraph">
    <p class="paragraph--underline">თამაშები, რომლებსაც ჩვენ ვუჭერთ მხარს</p>
  </div>

  <div class="suggested__games">
    <div class="games" *ngFor="let game of games; let i = index">
      <img [src]="game.url" />
    </div>
  </div>
</section>

<section class="how-it-works">
  <div class="para">
    <p class="paragraph--underline">როგორ მუშაობს პლატფორმა ELG</p>
  </div>

  <div class="grid">
    <div class="step">
      <h2 class="heading-primary heading-primary--main">1 საფეხური</h2>
      <p class="heading-tertiary">გაიარეთ რეგისტრაცია</p>
      <p class="paragraph">
        შეარჩიეთ თქვენი თამაში, შექმენით თქვენი პროფილი და მოიწვიეთ მეგობრები,
        რომ შეუერთდნენ თქვენს გუნდს!
      </p>
    </div>

    <div class="step">
      <h2 class="heading-primary heading-primary--main">2 საფეხური</h2>
      <p class="heading-tertiary">ითამაშეთ ტურნირში</p>
      <p class="paragraph">
        დარეგისტრირდით მომავალ ტურნირზე და მოემზადეთ სათამაშოდ.
      </p>
    </div>

    <div class="step">
      <h2 class="heading-primary heading-primary--main">3 საფეხური</h2>
      <p class="heading-tertiary">შედით თქვენი მატჩის სერვერზე</p>
      <p class="paragraph">
        როგორც კი დაიწყება თქვენი ტურნირი, გაუშვით თქვენი თამაში და შეუერთდით
        სერვერს.
      </p>
    </div>

    <div class="step">
      <h2 class="heading-primary heading-primary--main">4 საფეხური</h2>
      <p class="heading-tertiary">პროგრესი და დაჯილდოვება</p>
      <p class="paragraph">
        ჩაერთეთ ტურნირებში დაიკავეთ საპრიზო ადგილი და მიიღეთ დაწესებული პრიზი.
      </p>
    </div>

    <div class="step">
      <h2 class="heading-primary heading-primary--main">გაფრთხილება</h2>
      <p class="heading-tertiary">კარგად წაიკითხე</p>
      <p class="paragraph">
        სანამ მომავალ ტურნირზე დარეგისტრირდები კარგად წაიკითხე ინფორმაცია რადგან
        შესაძლოა ტურნირზე რეგისტრაცია იყოს ფასიანი!
      </p>
    </div>
  </div>
</section>
