@import "../../styles/abstracts/variables";
@import "../../styles/components/button";
@import "../../styles/base/typography";

.landing__logo {
  width: 25rem;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.suggested {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.suggested__paragraph {
  display: flex;
  justify-content: flex-start;
}

.paragraph--underline {
  font-size: 2rem;
  color: $color-white;
  margin-top: 10rem;
  margin: 8rem;
}

.paragraph--underline::after {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  background-color: $color-primary;
  border-radius: 5px;
  margin-top: 5px;
}

.suggested__games {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 7rem;
}

.games {
  outline: 1px solid $color-grey-dark;
  outline-offset: 15px;
  border-radius: 3px;
}

.grid {
  margin-left: 15%;
  margin-right: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 5rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25rem;
  max-height: 18rem;
  outline: 1px solid $color-grey-dark;
  outline-offset: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in;

  .heading-primary--main {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .heading-tertiary {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .paragraph {
    text-align: center;
    font-size: 1.3rem;
  }

  &:hover {
    .heading-primary--main {
      color: $color-black;
    }
    .heading-tertiary {
      color: $color-black;
    }
    .paragraph {
      color: $color-black;
    }
    background-color: $color-primary;
    //padding: 2% 5% 2% 5%;
  }
}

.paragraph--small {
  width: 90%;
  text-align: center;
  margin-bottom: 1rem;
}

.partners__logo:not(:nth-child(5)) {
  filter: grayscale(100%);
}
