<div class="header">
  <app-header></app-header>
</div>
<div class="container">
  <img
    class="header__sub--img"
    src="../../../../assets/tournaments/rules.png"
  />
  <div class="sub__header">
    <a class="sub__header--link">ინფორმაცია</a>
    <a class="sub__header--link">დარეგისტრირებული გუნდები</a>
    <a class="sub__header--link">ლიდერბორდი</a>
    <a class="sub__header--link">წესები</a>
  </div>
</div>
<!--Header-->
<!--picture with sub-header-->
<router-outlet></router-outlet>
<!--Footer-->
