<div class="header">
  <app-header></app-header>
</div>
<div class="container">
  <img
    class="header__sub--img"
    src="../../../../assets/tournaments/rules.png"
  />
  <div class="sub__header">
    <a
      class="sub__header--link"
      routerLink="/main/tournament-info/information"
      routerLinkActive="active"
      >ინფორმაცია</a
    >
    <a
      class="sub__header--link"
      routerLink="/main/tournament-info/teams"
      routerLinkActive="active"
      >დარეგისტრირებული გუნდები</a
    >
    <a
      class="sub__header--link"
      routerLink="/main/tournament-info/leaderBoard"
      routerLinkActive="active"
      >ლიდერბორდი</a
    >
    <a
      class="sub__header--link"
      routerLink="/main/tournament-info/rules"
      routerLinkActive="active"
      >წესები</a
    >
  </div>
</div>
<!--Header-->
<!--picture with sub-header-->
<router-outlet></router-outlet>
<!--Footer-->
