@import "../../../../styles/abstracts/variables";

.header {
  width: 60vw;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  margin-top: 8rem;
}

.sub__header {
  margin-top: -5rem;
  margin-left: 5%;
  display: flex;
  gap: 3rem;
}

.sub__header--link {
  font-size: 1.5rem;
  color: $color-white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    color: $color-primary;
  }
}

.active {
  color: $color-primary;
}
