<section class="footer">
  <div class="flex">
    <div class="flex--column col-1">
      <img
        class="flex--column--logo"
        src="../../../assets/logos/elg-logo.png"
      />
      <p class="paragraph--small">
        © GTL Esports. ყველა უფლება დაცულია. დამზადებულია საქართველოში.
      </p>
      <hr />
      <p class="paragraph--small">გადახის უსაფრთხო მეთოდები</p>
      <div class="flex--row">
        <img src="../../../assets/logos/image 3.png" />
        <img src="../../../assets/logos/image 2.png" />
      </div>
    </div>
    <div class="flex--column">
      <p class="paragraph--underline">კომპანია</p>
      <P class="paragraph--small">ჩვენს შესახებ</P>
      <P class="paragraph--small">კონტაქტი</P>
    </div>
    <div class="flex--column">
      <p class="paragraph--underline">დამატებითი ინფორმაცია</p>
      <P class="paragraph--small">მომსახურების პირობები</P>
      <P class="paragraph--small">კონფიდენციალურობის პოლიტიკა</P>
      <p class="paragraph--small">მედია</p>
    </div>
    <div class="flex--column">
      <p class="paragraph--underline">დამატებითი ინფორმაცია</p>
      <div class="flex--row">
        <img src="../../../assets/logos/facebook-brands 1.png" />
        <img src="../../../assets/logos/youtube-brands 1.png" />
        <img src="../../../assets/logos/discord-brands 1.png" />
      </div>
    </div>
  </div>
</section>
